body {
  width: 100%;
  margin: auto;
  pointer-events: none;
}

div {
  font-size: 0;
}

.grid {
  position: fixed;
  display: flex;
  margin: auto;
  left: 0;
  right: 0;
  top: 30vh;
  bottom: 10vh;
  width: 60vw;
  overflow: hidden
}

.gridrow {
  display: inline-block;
}

figure {
margin: 15px 30px 15px;
padding: 5px;
height: 10vh;
width: auto;
overflow: hidden;
display: inline-block;
}

figure:hover img {
transform: scale(1.15);
}

img {
  height:10vh;
  width: auto;
  margin: 0 auto;
  display: block;
  transition: transform .2s ease-in-out;
  }
  
h1 {
position: fixed;
left: 2vw;
top: 0;
font-size: 20px;
}

#row {
position: fixed;
top: 8vh;
left: 1vw;
height: 20vh;
width: 96vw;
display: flex;
}

.ex {
  height: 20vh;
  width: auto
}

#cursor {
  position: fixed;
  z-index: 6;
  top: 120vh;
  right: 5vw;
  height: 10px;
  animation: cursor 13s;
}
@keyframes cursor {
  0% {top: 120%; right: 5%}
  38% {top: 38%; right: 42%}
  69% {top: 67%; right: 28%}
  100% {top: 52%; right: 57%}
}