body {
  width: 100%;
  margin: auto;
}

div {
   font-size: 0;
}

.grid {
  position: fixed;
  z-index: 2;
  top: 25vh;
  bottom: 10px;
  margin: auto;
  width: 75vw;
  height: auto;
  overflow: hidden
}

figure {
margin:5px;
padding: 0;
height: 150px;
width: 150px;
overflow: hidden;
display: inline-block;
}

figure:hover img {
transform: scale(1.15);
}

img {
max-height:100px;
width: auto;
margin: 0 auto;
display: block;
transition: transform .2s ease-in-out;
}

h1 {
position: fixed;
left: 2%;
top: 0;
font-size: 15px;
}

.row {
position: fixed;
top: 5vh;
left: 1vw;
max-height: 250px;
width: 96vw;
display: flex;
}

.boxrow {
  height: 12vh;
  width: auto;
  margin: 20px 0 20px 0;
  display: block;
}

frib {
  display: block;
  height: 200px;
  margin: 0 auto;
  }

.fribbles {
  max-height: 150px;
  width: auto;
  display: flex;
}
