body {
  width: 100%;
  margin: auto;
}

div {
   font-size: 0;
}

.grid {
  position: fixed;
  z-index: 2;
  top: 220px;
  bottom: 10px;
  left: 30%;
  right: 30%;
  min-width: 600px;
  max-width: 650px;
  min-height: 520px;
  overflow: hidden
}

figure {
margin:5px;
padding: 0;
max-height: 100px;
width: 150px;
overflow: hidden;
display: inline-block;
}

figure:hover img {
transform: scale(1.15);
}

img {
max-height:100px;
width: auto;
margin: 0 auto;
display: block;
transition: transform .2s ease-in-out;
}

h1 {
position: fixed;
left: 2%;
top: 0;
font-size: 15px;
}

.row {
position: fixed;
top: 5vh;
left: 1vw;
max-height: 250px;
width: 96vw;
display: flex;
}

frib {
  display: block;
  height: 200px;
  margin: 0 auto;
  }

.fribbles {
  max-height: 150px;
  width: auto;
  display: flex;
}
