body {
  width: 100%;
  margin: auto;
  pointer-events: none;
}

div {
  font-size: 0;
}

.grid {
  position: fixed;
  z-index: 2;
  top: 24%;
  left: 20%;
  height: 88%;
  width: 60%;
  overflow: hidden
}

figure {
margin:0.7% -1.5%;
padding: 0.5%;
max-height: 16%;
width: 18%;
overflow: hidden;
display: inline-block;
}

figure:hover img {
transform: scale(1.15);
}

img {
  height:10vh;
  width: auto;
  margin: 0 auto;
  display: block;
  transition: transform .2s ease-in-out;
  }
  
h1 {
position: fixed;
left: 2%;
top: 0;
font-size: 15px;
}

.row {
position: fixed;
top: 5vh;
left: 1vw;
height: 20vh;
width: 96vw;
display: flex;
}
  
frib {
  display: block;
  height: 20vh;
  margin: 0 auto;
  }
  
.fribbles {
  min-height: 15vh;
  width: auto;
  display: flex;
}

#cursor {
  position: fixed;
  z-index: 6;
  top: 120%;
  right: 5%;
  height: 75px;
  animation: cursor 30s;
}
@keyframes cursor {
  0% {top: 120%; right: 5%}
  17% {top: 55%; right: 26%}
  34% {top: 45%; right: 35%}
  50% {top: 55%; right: 45%}
  67% {top: 55%; right: 55%}
  84% {top: 70%; right: 65%}
  100% {top: 55%; right: 75%}
}