body {
  width: 90%;
  margin: auto;
  pointer-events: none;
}

div {
  font-size: 0;
}

.grid {
 position: fixed;
 z-index: 2;
 top: 25%;
 left: 20%;
 height: 88%;
 width: 60%;
 overflow: hidden
}

figure {
margin:0.7% -1.5%;
padding: 0.5%;
max-height: 16%;
width: 18%;
overflow: hidden;
display: inline-block;
}

figure:hover img {
transform: scale(1.15);
}

img {
height: 70%;
width: auto;
margin: 0 auto;
display: block;
transition: transform .2s ease-in-out;
}

h1 {
position: fixed;
left: 2%;
top: 0;
font-size: 15px;
}

.fribbles {
 height: auto;
 width: auto;
 margin: 0 auto;
 display: block;
}

.row {
position: fixed;
top: 4vh;
left: 1vw;
height: 30vh;
width: 96vw;
display: flex;
}

frib {
display: flex;
width: 250px;
height: 188px;
margin: 0 auto;
overflow: hidden
}

#cursor {
  position: fixed;
  z-index: 6;
  right: 5%;
  width: 100px;
}