body {
  width: 100%;
  margin: auto;
}

div {
   font-size: 0;
}

.grid {
  position: fixed;
  z-index: 2;
  top: 23%;
  left: 20%;
  height: 60%;
  width: 60%;
  overflow: hidden
}

figure {
margin:1%;
padding: 1%;
max-height: 15%;
width: 15%;
overflow: hidden;
display: inline-block;
}

figure:hover img {
transform: scale(1.15);
}

img {
height:5vh;
width: auto;
margin: 0 auto;
display: block;
transition: transform .2s ease-in-out;
}

h1 {
position: fixed;
left: 2%;
top: 0;
font-size: 15px;
}

.row {
position: fixed;
top: 5vh;
left: 1vw;
height: 20vh;
width: 96vw;
display: flex;
}

frib {
  display: block;
  height: 20vh;
  margin: 0 auto;
  }

.fribbles {
  min-height: 15vh;
  width: auto;
  display: flex;
}